<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container"><a class="navbar-brand logo" href="#">{{ site.title }}</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse"
          id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            {%- for link in site.data.navigation.main -%}
              {%- if link.url contains "http" -%}
                {%- assign url = link.url -%}
              {%- else -%}
                {%- assign url = link.url | relative_url -%}
              {%- endif -%}
              <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
      </div>
  </div>
</nav>
