a.current-page {
  font-weight: bold;
}

.page-title .contribute-link {
  opacity: 0.07;
}

.page-title:hover .contribute-link {
  opacity: 0.3;
}

.page-title:hover .contribute-link:hover {
  opacity: 1;
}
